Repository Idea-R/Chamber-Connect: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, vitest related --run

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "prettier --write",
    "vitest related --run"
  ],
  "*.{json,css,md}": [
    "prettier --write"
  ]
}

Update README with comprehensive project documentation
  README.md
Due: prettier --write

MVP Phase 1 Complete + Cloudflare Deployment Setup
  .cursor/rules/00_maad-persona.mdc
  .cursor/rules/00_security-gate.mdc
  .github/CODEOWNERS
  .github/SECURITY.md
  .github/dependabot.yml
  .github/workflows/codeql.yml
  .gitignore
  package-lock.json
  package.json
  policies/README.md
  public/_redirects
  scripts/setup-demo-users.js
  src/App.tsx
  src/components/admin/AdminDashboard.tsx
  src/components/admin/AdminStatsCards.tsx
  src/components/admin/PendingActionsCard.tsx
  src/components/admin/QuickActionsCard.tsx
  src/components/auth/ProtectedRoute.tsx
  src/components/layout/Sidebar.tsx
  src/lib/admin-data.ts
  src/lib/security-headers.ts
  src/pages/auth/BusinessLogin.tsx
  src/pages/auth/ChamberLogin.tsx
  src/pages/pricing/Pricing.tsx
  supabase/.temp/cli-latest
  wrangler.toml
Due: eslint --fix, prettier --write, vitest related --run

feat: Remove demo accounts, implement admin-only approach
  .gitignore
  scripts/setup-demo-users.js
  setup-branches.ps1
  src/App.tsx
  src/components/admin/DevAdminPortal.tsx
  src/components/admin/DevToolsPanel.tsx
  src/contexts/DevAdminContext.tsx
  src/pages/auth/BusinessLogin.tsx
  src/pages/auth/ChamberLogin.tsx
  supabase/migrations/20250710154308_shrill_shrine.sql
  supabase/migrations/20250720000004_create_demo_users.sql
  tatus
  ter
  wrangler.toml
Due: eslint --fix, prettier --write, vitest related --run

feat: Complete pricing system with 10% dues model
  src/pages/pricing/AccountUpgrade.tsx
  src/pages/pricing/Checkout.tsx
  src/pages/pricing/FreeTrial.tsx
  src/pages/pricing/Pricing.tsx
  src/pages/pricing/Success.tsx
Due: eslint --fix, prettier --write, vitest related --run

feat: Add Google OAuth integration to login pages
  src/pages/auth/BusinessLogin.tsx
  src/pages/auth/ChamberLogin.tsx
Due: eslint --fix, prettier --write, vitest related --run

feat: Add subscription plans system and fix setup script
  scripts/setup-demo-users.js
  supabase/migrations/20250127_subscription_plans.sql
Due: eslint --fix, prettier --write, vitest related --run

fix: Add default exports to all auth components
  src/pages/auth/BusinessLogin.tsx
  src/pages/auth/BusinessSignup.tsx
  src/pages/auth/ChamberLogin.tsx
  src/pages/auth/ChamberSignup.tsx
  src/pages/auth/ForgotPassword.tsx
  src/pages/auth/MemberLogin.tsx
Due: eslint --fix, prettier --write, vitest related --run

fix: Resolve switchRole reference error in DevToolsToggle
  src/App.tsx
  src/components/admin/DevToolsPanel.tsx
Due: eslint --fix, prettier --write, vitest related --run

feat: Add quick login functionality to DevToolsPanel
  package.json
  scripts/setup-demo-users.js
  src/components/admin/DevToolsPanel.tsx
Due: eslint --fix, prettier --write, vitest related --run

fix: Update role from business_trial to staff for database compatibility
  scripts/setup-demo-users.js
  src/components/admin/DevAdminPortal.tsx
  src/components/admin/DevToolsPanel.tsx
  src/contexts/DevAdminContext.tsx
Due: eslint --fix, prettier --write, vitest related --run

fix: Add navigation to dashboard after DevToolsPanel quick login
  src/components/admin/DevToolsPanel.tsx
Due: eslint --fix, prettier --write, vitest related --run

feat: Complete MVP implementation with comprehensive guides and testing
  package.json
  scripts/test-stripe-integration.js
Due: eslint --fix, prettier --write, vitest related --run

feat: Complete authentication fixes and growth features
  src/App.tsx
  src/components/admin/DevToolsPanel.tsx
  src/components/modals/BusinessOwnerModal.tsx
  src/components/modals/ChamberGrowthModal.tsx
  src/contexts/AuthContext.tsx
  src/pages/Growth.tsx
  src/pages/pricing/Pricing.tsx
Due: eslint --fix, prettier --write, vitest related --run

fix: Update landing page with accurate pricing and growth page navigation
  src/pages/LandingPage.tsx
Due: eslint --fix, prettier --write, vitest related --run

feat: Add comprehensive pricing flexibility and tiered memberships
  src/pages/Growth.tsx
  src/pages/LandingPage.tsx
Due: eslint --fix, prettier --write, vitest related --run

feat: Comprehensive yearly billing mode with configurable discount slider
  src/pages/Growth.tsx
Due: eslint --fix, prettier --write, vitest related --run

fix: Correct platform cost calculation in Growth calculator
  src/pages/Growth.tsx
Due: eslint --fix, prettier --write, vitest related --run

fix: Resolve React types version conflict for Cloudflare deployment
  package.json
Due: prettier --write

fix: Update package-lock.json to sync with React types changes
  package-lock.json
Due: prettier --write

feat: Upgrade to React 19 - stable version for July 2025
  package.json
Due: prettier --write

chore: Update package-lock.json for React 19 dependencies
  package-lock.json
Due: prettier --write

fix: Update lucide-react to v0.534.0 for React 19 compatibility
  package-lock.json
  package.json
Due: prettier --write

fix: Make husky CI-aware to prevent Cloudflare build failures
  package-lock.json
  package.json
Due: prettier --write

fix: Remove deprecated husky lines from pre-commit hook
  .husky/pre-commit
Due: none

fix: Critical deployment fixes - TOML syntax, SPA redirects, CI dependencies
  .github/dependabot.yml
  .github/workflows/codeql.yml
  package.json
  public/_redirects
  tall
  wrangler.toml
  yntax
Due: prettier --write

NUKE Dependabot: Delete config and close all PRs for clean 3-branch workflow
  .github/dependabot.yml
Due: none

security: Add CodeQL security scanning workflow for 3-branch structure
  .github/workflows/codeql.yml
Due: none

fix: Cloudflare Pages environment names - use preview/production only
  wrangler.toml
Due: none
